---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  {/* Hairline separator */}
  <hr class="hairline" />
  <!-- Page Not Found -->
  <h3 class="font-navbar mt--1.3 flex flex-col text-8 font-bold leading-1.2em c-primary lg:text-9">
    <span>PAGE</span>
    <span>NOT</span>
    <span>FOUND</span>
  </h3>
  <p class="font-navbar mt-3.6 flex flex-col text-3.6 leading-1.4em lg:(mt-4 text-4)">
    <span>It looks like the page you're looking for</span>
    <span>does not exist or has been moved.</span>
  </p>
  <!-- Unused Div -->
  <div class="" />
</Layout>
